{% extends 'user/ticket/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<style>
</style>

<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_ticket') }}">
            <h2>Ticket System</h2>
        </a>
    </div>
</nav>
{% if app.session.flashBag.has('success') %}
<div class="alert alert-success float-end border" role="alert">
    {{ (app . session . flashBag . get('success')) | join }}
</div>
{% endif %}

{% if app.session.flashBag.has('error') %}
<div class="alert alert-danger float-end border" role="alert">
    {{ (app . session . flashBag . get('error')) | join }}
</div>
{% endif %}

<div class="container text-center mt-4">
    <h1 class="title-dash mt-5">Benvenuto nella tua dashboard</h1>
    <div class="row justify-content-center align-items-center mt-5">
        <div class="col-md-6">
            <div class="card mb-4 rounded-pill mt-5">
                <div class="card-body">
                    <a href="{{ path('create_ticket') }}" class="text-decoration-none text-primary">
                        <h5 class="card-title "><b>Crea Ticket</b>
                        </h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4 rounded-pill mt-5">
                <div class="card-body">
                    <a href="{{ path('view_ticket') }}" class="text-decoration-none text-primary">
                        <h5 class="card-title"><b>Visualizza
                                Ticket</b></h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
